* {
	box-sizing: border-box;
}

html {
	margin: 0;
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	margin: 0;
	background-color: black;
	color: #aaa;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	display: none;
}

.sidebar {
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	width: 40vw;
	height: 100vh;
	display: none;
}

.sidebar ul {
	margin: 2rem auto 0 auto;
	list-style: none;
}

.sidebar li {
	margin-bottom: 1rem;
}

.sidebar a,
.sidebar a:visited {
	color: #aaa;
}

.navigation {
	width: 100%;
	background-image: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0.5));
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	color: white;
	z-index: 1;
	padding: 0.7rem 0.7rem 0.7rem 10%;
}

.navigation li {
	display: inline-block;
	margin-right: 1.2rem;
	font-size: 1.1rem;
}

.navigation__desktop-links i:first-child {
	font-size: 1.5rem;
	margin-right: 3rem;
}

.navigation__burger i {
	font-size: 1.3rem;
	display: none;
}

.home-icon {
	color: #777;
}

.navigation a {
	color: #ddd;
	text-decoration: none;
}

.navigation a:hover {
	color: #fff;
}

.page-banner {
	height: 300px;
	width: 100%;
	background-image: url('../images/page-banner2-2000x1333.jpg');
	background-position: bottom center;
	filter: sepia(0.8);
	background-size: cover;
	position: relative;
	border-bottom: 1px solid #333;
}

.page-banner__title {
	width: 50%;
	padding: 1rem;
	color: #ccc;
	font-size: clamp(1.2rem, 2.5vw, 2.5rem);
	position: absolute;
	bottom: 5rem;
	right: 10%;
	font-family: 'Grenze Gotisch', cursive;
	letter-spacing: 0.2rem;
	background-color: rgba(0, 0, 0, 0.5);
	text-align: center;
	/*   box-shadow: 1px 1px 4px 1px rgba(255, 255, 255, 0.5);*/
}

.page-banner__title div {
	width: 30%;
	margin: 0.5rem auto;
	border-bottom: 1px solid #555;
}

.anchor {
	position: relative;
	top: -75px;
}

.content-container {
	margin: 1rem auto;
	padding: 0;
	width: 70%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: justify;
}

.icons-container {
	margin: 1rem auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 50%;
}

.icons {
	color: #777;
	font-size: 3rem;
}

.section-title {
	width: 70%;
	margin: 2rem auto;
	margin-bottom: 1rem;
	color: #aaa;
}

.divider {
	width: 30%;
	margin: 1.5rem auto 5vh auto;
	border-bottom: 1px solid #555;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.border-thin {
	border: 1px solid #333;
}


@media only screen and (max-width: 700px) {
	.page-banner {
		background-image: url('../images/page-banner2-1000x666.jpg');
	}

	.page-banner__title {
		width: 80%;
	}

	.content-container {
		display: block;
	}

	.icons {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 550px) {

	.navigation li {
		display: none;
	}

	.navigation__burger i {
		display: inline;
	}

	.icons-container {
		width: 75%;
	}

	.content-container {
		display: block;
		width: 90%;
	}

	.section-title {
		width: 90%;
	}
}

@media only screen and (max-width: 400px) {
	.page-banner__title {
		font-size: 1rem;
	}
}